
*{
  user-select: none;
}




/*
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

*/

/*
#################################################################
                        Estilos Sebas                           #
#################################################################
*/
.tarjetaNatures{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--DarkOrange);
  width: 19rem;
  height: 8rem;
  margin: 0 auto;
  padding-top: 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 20rem;
  padding: 10px;
  box-sizing: border-box;
}

.botones{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  order: 2;
  align-items: center;
  margin-left: 2rem;
  z-index: 0;
  margin-top: 3rem;
}

.addPokemon-btn {
  order: 1;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#saveTeam-btn {
  order: 3;
  width: 10rem;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.tarjetitaPokemon{
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: large;
  position: relative;
  width: 11rem;
  height: 11rem;
  border-radius: 10px;
  background-color: darkorange;
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding-top: 1rem;
}

.imagePokemon{
  height: 7rem;
  width: 7rem;
}

.evaluations{
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-image: linear-gradient(to bottom, var(--Crimson), var(--Coral));
  width: 40rem;
  height: 40rem;
  margin: 0 auto;
  padding-top: 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: 5rem;
  padding: 1rem;

}

.evaluations img{
  margin-left: 1rem;
}

.evaluationsTitle{
  text-align: center;
  justify-content: start;
  color: white;
}

#evaluate-btn{
    order: 4;
    width: 10rem;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.category{
  margin-bottom: 2rem;
}

.category h3{
  color: white;
}

.category-text{
  font-size: 1.5rem;
  font-weight: bold;color: white;
}

.stat{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
  margin: 0 auto;
}

.stat span{
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.statTitle{
  text-align: center;
  margin-top: 1rem;
  color: white;
  font-size: 1.5rem;
}

.progressBar{
  width: 20rem;
  height: 1.5rem;
  background-color: #eee;
  border-radius: 10px;
  flex-grow: 1;
  gap: 10px;
}

#evaluations .stat {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

#evaluations .stat span:first-child {
  width: 100px; /* adjust as needed */
}

#evaluations .stat span:last-child {
  width: 50px; /* adjust as needed */
}

#evaluations .stat-progress {
  flex-grow: 1;
  -webkit-appearance: none;
  appearance: none;
}

#evaluations .stat-progress::-webkit-progress-bar {
  background-color: white;
}

#evaluations .stat-progress::-webkit-progress-value {
  background-color: #4CAF50;
}

#evaluations .stat-progress::-moz-progress-bar {
  background-color: #4CAF50;
}





/*
#################################################################
                        Estilos Sebas                           #
#################################################################
*/


/*
.addPokemon-btn {
  position: absolute;
  bottom: 14%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 140px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
*/

.icon {
  font-size: 50px;
  color: gray;
  position: relative;
  z-index: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: none;
  z-index: 1;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  /* Tamaño fijo */
  height: 800px;
  /* Tamaño fijo */
  max-width: 96%;
  /* Ancho máximo */
  max-height: 96%;
  /* Altura máxima */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.close-btn {
  background-color: rgb(203, 65, 65);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  /* Nueva propiedad */
  bottom: 20px;
  /* Nueva propiedad */
  right: 20px;
  /* Nueva propiedad */
  z-index: 2;
  /* Nueva propiedad */
}

.save-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2;
  background-color: rgb(99, 176, 66);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#input-text,
#select-options {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

#pokemon-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
}

#pokemon-list li {
  padding: 5px;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

#pokemon-list li:hover {
  background-color: darkorange;
}

#search-button {
  cursor: pointer;
  max-width: 2.5rem;
}

.tarjetaPokemon {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  font-size: x-large;
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  background-color: darkorange;
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.tarjetaPokemon img{
  width: 100%;
}
.contenedor{
  display: flex;
}
.contenedor_imagenes{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor_imagenes img{
  width: 100%;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.tarjetaPokemonHabilidad,
.tarjetaPokemonMovimiento,
.stats,
.cardPokemon {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: large;
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  background-color: darkorange;
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding-top: 1rem;
}

.habilidad{
  text-align: center;
  width: 100%;
  height: 20%;
  background-color: #fff;
  border-radius: 10px;
  display: inline-block;
  border: 2px solid gray;
  padding: 1px;
  cursor: pointer;
  margin-top: 0.2rem;
}
/* Estilo del div de habilidad seleccionado */
.tarjetaPokemonHabilidad .habilidad.selected {
  border: 4px solid green;
}
.tarjetaPokemonMovimiento select{
  width: 90%;
  margin-top: 0.3rem;
}

.stats{
  width: 500px;
  height: 400px;
}

/*------------------------------------*/


.stat-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  top: 2rem;
}

.stat-label {
  flex-shrink: 0;
  width: 80px;
  text-align: right;
  margin-right: 8px;
}

.progress-bar {
  flex-grow: 1;
  background-color: #eee;
  height: 24px;
  margin-right: 8px;
  position: relative;
  max-width: 8rem;
  min-width: 8rem;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4CAF50;
}

.stat-value {
  flex-shrink: 0;
  width: 40px;
  text-align: left;
}

.ivs, .evs {
  max-width: 18%;
  min-width: 18%;
  margin-right: 1rem;
}
.titulo_evs_ivs{
  display: flex;
  justify-content: flex-end;
}
.titulo_evs_ivs p{
  margin-right: 3rem;
}

.cardPokemon img{
  width: 80%;
}
.cardPokemon .imagen_nombre{
  display: block;
}
.cardPokemon{
  display: flex;
  height: 170px;
  width: 150px;
  position: relative;
  z-index: -1;
  
}