/*
#############################################
        Seccion: Tarjeta de Pokemon         #
#############################################
*/
#pokemon{
    background-color: var(--DarkOrange);
    height: 20rem;
    width: 15rem;
    position: relative;
    top: 5rem;
    margin-bottom: 10rem;
    left: 5rem;
    justify-content: center;
}

#pokemon_name{
    text-align: center;
}

#pokemon_image{
    height: 7rem;
    position: relative;
    margin: 0 auto;
    left: 4rem;
}
.pokemon_type_container{
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

#pokemon_abilities{
    position: relative;
    top: 1rem;
    text-align: center;
}


/*
#############################################
        Seccion: Tarjeta de Pokemon         #
#############################################
*/

#stats{
    background-color: var(--DarkOrange);
    height: 20rem;
    width: 20rem;
    position: relative;
    bottom: 25rem;
    margin-bottom: 5rem;
    left: 30rem;
    justify-content: center;
}

#stats_title{
    text-align: center;
}
.stat-row {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .stat-label {
    flex-shrink: 0;
    width: 80px;
    text-align: right;
    margin-right: 8px;
  }
  
  .progress-bar {
    flex-grow: 1;
    background-color: #eee;
    height: 24px;
    margin-right: 8px;
    position: relative;
  }
  
  .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #4CAF50;
  }
  
  .stat-value {
    flex-shrink: 0;
    width: 40px;
    text-align: left;
  }
  