  
  #main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 0.5rem;
  }
  
  #register-container {
    background-color: #ff8c00a1;
    width: 23rem;
    padding: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
   #pokemon_group_left {
    height: 12rem;
    position:relative;
    margin-left: 2rem;
  }

  #pokemon_group_right {
    height: 12rem;
    position: relative;
    margin-right: 2rem;
  } 

  #title {
    text-align: center;
    position: relative;
    top: 1rem;
    margin-bottom: 2rem;
  }


form{
    display: flex;
    flex-direction: column;
}

.username{
    position: relative;
    margin: 0 auto;
    right: 3rem;
}

#username{
    height: 3rem;
    width: 18rem;
    text-indent: 50px;
    color: black;
    font-size: 1rem;
}

#username::placeholder{
    text-align:start;
    color: black;
}

#username-img{
    height: 1.5rem;
    position: relative;
    bottom: 2.5rem;
    left: 0.5rem;
}

.email{
    position: relative;
    margin: 0 auto;
    right: 3rem;
}

#email{
    height: 3rem;
    width: 18rem;
    text-indent: 50px;
    color: black;
    font-size: 1rem;
}

#email::placeholder{
    text-align:start;
    color: black;
}

#email-img{
    height: 1.5rem;
    position: relative;
    bottom: 2.5rem;
    left: 0.5rem;
}

.birthdate{
    position: relative;
    margin: 0 auto;
    right: 3rem;
}

#birthdate{
    height: 3rem;
    width: 18rem;
    text-indent: 50px;
    color: black;
    font-size: 1rem;
}

#birthdate::placeholder{
    text-align:start;
    color: black;
}

#birthdate-img{
    height: 1.5rem;
    position: relative;
    bottom: 2.5rem;
    left: 0.5rem;
}

.password{
    margin: 0 auto;
    position: relative;
    right: 3rem;
}

#password{
    height: 3rem;
    width: 18rem;
    text-indent: 50px;
    color: black;
    font-size: 1rem;
}

#password::placeholder{
    text-align:start;
    color: black;
}

#password-img{
    height: 2rem;
    position: relative;
    bottom: 2.5rem;
    left: 0.8rem;
}

.password2{
    margin: 0 auto;
    position: relative;
    right: 3rem;
}

#password2{
    height: 3rem;
    width: 18rem;
    text-indent: 50px;
    color: black;
    font-size: 1rem;
}

#password2::placeholder{
    text-align:start;
    color: black;
}

#password2-img{
    height: 2rem;
    position: relative;
    bottom: 2.5rem;
    left: 0.8rem;
}

#registered{
    text-align: center;
    margin-top: 1rem;
    color: var(--Teal);
}

button {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    margin: 0 auto;
    background: #fad309;
    margin-top: 1rem;
   }
   
   button::before,
   button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   button::before {
    left: -10px;
    background:var(--Red);
   }
   
   button::after {
    right: -10px;
    background: rgb(237, 235, 235);
   }
   
   button:hover::before,
   button:hover::after {
    width: 58%;
   }
   
   button:hover span {
    color: #000000;
    font-size: 1.3rem;
    font-weight: 500;
    transition: 0.3s;
   }
   
   button span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
   }

/*
###############################################
#            Seccion: Email input             #
###############################################
*/

.form {
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(0, 0, 0, 0.39);
    --border-after-color: var(--Red);
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
   }
   /* styling of Input */
   .input {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
   }
   /* styling of animated border */
   .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
   }
   /* Hover on Input */
   input:hover {
    background: var(--input-hovered-color);
   }
   
   input:focus {
    outline: none;
   }
   /* here is code of animated border */
   input:focus ~ .input-border {
    width: 18rem;
   }
   /* === if you want to do animated border on typing === */
   /* remove input:focus code and uncomment below code */
   /* input:valid ~ .input-border{
     width: 100%;
   } */

.form_empty_fields{
    display: flex;
    align-items: center;
    justify-content: center;
}