.rectangulo{
    background-color: darkorange;
    width: 80%;
    height: 25rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 2rem auto;

}

#mainTitle{
    text-align: center;

}

#innerTitle{
    text-align: center;
    top: 5rem;
    position: relative;
}

#buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 30%;
    height: 3rem;
    width: 15rem;
    text-indent: 0.5rem;
    
  }
  
  #lupa{
    height: 1rem;
    position: relative;
    top: 5.1rem;
    left: 6rem;
    cursor: pointer;
  }
  