.beginnerContent {
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beginnerContent ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;    
    padding: 2rem;
}

.beginnerContent a{
    color: var(--AntiqueWhite);
}

.beginnerContent ul li {
    border-style:initial;
    display: flex;
    justify-content: center;
    padding: 1.2rem;
    margin: 1.2rem;
    background-color: var(--Crimson);    
    font-weight: bold;
    font-size: 2rem;
}