.cuadrado_quiz{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 6rem 26rem 5rem;
    grid-template-areas:
        "enunciado enunciado enunciado enunciado"
        "foto foto foto foto"
        "descripcion descripcion descripcion descripcion" 
        "subdescripcion subdescripcion subdescripcion subdescripcion"
        "descripcion2 descripcion2 descripcion2 descripcion2"
        "left_arrow opcion1 opcion1 right_arrow"
        ". opcion2 opcion2 ."
        ". opcion3 opcion3 ."
        ". opcion4 opcion4 ."
        "start start start start"
        ". . . reset";

    background-color: var(--Crimson);
    width: 50vw;    
    text-align: center;
    margin: auto;
    margin-top: 2rem; 
    margin-bottom: 1rem;
    position: relative;        
}

#opcion1{
    grid-area: opcion1;
}

#opcion2{
    grid-area: opcion2;
}

#opcion3{
    grid-area: opcion3;
}

#opcion4{
    grid-area: opcion4;
}

.cuadrado_quiz .enunciado {
    grid-area: enunciado;
    background-color:orange;
    border: 2px solid black;
    text-align: center;
    padding: 10px;    
}

.cuadrado_quiz img{
    grid-area: foto;
    margin: auto;
}

#quiz_description{
    grid-area: descripcion;
    margin: auto;
}

#quiz_subdescription{
    grid-area: subdescripcion;
    font-weight: bold;
}

#quiz_description2{
    grid-area: descripcion2;
    padding: 2rem;
}

.option{          
    border: 2px solid darkred;    
    padding: 1.2rem;
    margin: 1.2rem;    
    background-color: rgb(145, 145, 145);    
    font-weight: bold;
    font-size: 1.5rem;
}



.cuadrado_quiz .start_button{
    grid-area: start;
    margin: auto;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 4rem;    
}

.arrow_button{
    width: 5rem;
    height: 5rem;    
    margin: 2rem;  
    display: none;     
}

#left_button{ 
    grid-area: left_arrow;    
    left: 0;
}

#right_button{
    grid-area: right_arrow;
    right: 0;
}


.enunciado.hide{
    background-color: transparent;
    border: 0px;
}
  

.cuadrado_quiz.aprobado{
    background-color: var(--MediumSpringGreen);    
}

.cuadrado_quiz.suspendido{
    background-color: var(--Goldenrod);    
}

.cuadrado_quiz h2{
    font-size: 2.5rem;
}

.cuadrado_quiz p{
    font-size: 2rem;
}

.option.marcada{
    background-color: var(--AntiqueWhite);
}

.arrow_button:hover{
    cursor: pointer;    
}

#reset_button{
    grid-area: reset;
    width: 4rem;
    height: 4rem;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
}

.boton_audio{
    position: absolute;
    top: 8rem;
    margin-left: 3rem;
    margin-top: 1rem;
}

.boton_audio img{
    width: 10rem;
    height: auto;
    cursor: pointer;
}