.cuadrado_quiz{
    
    
    background-color: var(--Crimson);
    width: 50vw;
    height: 80vh;
    text-align: center;
    margin: auto;
    margin-top: 2rem; 
    margin-bottom: 1rem;
    position: relative;        
}

.enunciado {
    background-color:orange;
    border: 2px solid black;
    
    padding: 10px;
    margin-bottom: 20px;
}


.enunciado.hide{
    background-color: transparent;
    border: 0px;
}
  

.cuadrado_quiz.aprobado{
    background-color: var(--MediumSpringGreen)
}

.cuadrado_quiz.suspendido{
    background-color: var(--Goldenrod);
}

.cuadrado_quiz h2{
    font-size: 2.5rem;
}

.cuadrado_quiz p{
    font-size: 2rem;
}

#quiz_subdescription{
    font-weight: bold;
}

#quiz_description2{
    padding: 2rem;
}

.cuadrado_quiz .start_button{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 4rem;    
}

.option{
    
    border: 2px solid darkred;
    display: inline-block;
    padding: 1.2rem;
    margin: 1.2rem;
    background-color: rgb(145, 145, 145);    
    font-weight: bold;
    font-size: 1.5rem;
}

.option.marcada{
    background-color: var(--AntiqueWhite);
}

.arrow_button{
    width: 5rem;
    height: 5rem;    
    margin: 2rem;  
    display: none;
        
}

#left_button{ 
    position: absolute;
    left: 20rem;
    bottom: 1rem;
}

#right_button{
    position: absolute;
    right: 20rem;
    bottom: 1rem;
}

.arrow_button:hover{
    cursor: pointer;    
}

#reset_button{
    width: 4rem;
    height: 4rem;
    position: absolute;
    bottom: 0;
    right: 0;    
}