header {
    display: flex;
    align-items: center;
    background-color: var(--DarkOrange);
    width: 100%;
}

/* la navbar de principiantes se activa con un javascript */
header .navbar_principiantes {
    display: none;
}

header .navbar_principiantes ul {
    list-style: none;
    padding: 2rem;
}

header .navbar_principiantes a {
    color: var(--AntiqueWhite);
}

header .navbar_principiantes ul li {
    border-style: initial;
    display: inline;
    padding: 1.2rem;
    margin: 1.2rem;
    background-color: var(--Crimson);
    font-weight: bold;
    font-size: 1.5rem;
}

footer div {
    display: flex;
    background-color: var(--Goldenrod);
    width: 100%;
    min-height: 3rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

a,
p {
    color: var(--Black);
}

header img {
    width: 6rem;
    margin: 1rem;
}

footer p {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 0px;
}

footer img {
    margin-right: 4rem;
    width: 9rem;
    float: right;
}

/* main */
.mainContent {
    display: block;
}

.mainContent div {
    display: flex;
    margin-left: 42rem;
    margin-top: 2rem;
}

.mainContent img {
    width: 10rem;
}

#begginerButton {
    background-color: var(--Goldenrod);


}

#expertButton {
    background-color: var(--Tomato);

}

#expertButton,
#begginerButton {
    margin-top: 3rem;
    margin-right: 3rem;
    border-radius: 0.4rem;
    border-style: none;
    width: 8rem;
    height: 6rem;
    font-size: 1.5rem;
    font-weight: bold;
}

/* tutorial */
.main-tarjeta-tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta_tutorial {
    display: block;
    text-align: center;
}

.tarjeta_tutorial .titulo{
    margin-bottom: 0.4rem;
}

.tarjeta_tutorial .imagen {
    animation: zoomIn 0.3s ease-out;
}

@keyframes zoomIn {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
}

#imagen-tutorial{
    border-radius: 40px;
    width: 800px;
    height: 450px;
    object-fit: cover;
    margin-bottom: 0.4rem;
    transition: 1s;
}

.tarjeta_tutorial .imagen:hover{
    transform:scale(1.1);
}

.tarjeta_tutorial .contenido {
    display: flex;
    max-width: 60rem;
    justify-content: center;
    align-items: center;
}

.tarjeta_tutorial .contenido img {
    cursor: pointer;
    width: 12.5%;
    transition: 0.4s;
}
.tarjeta_tutorial .contenido img:hover{
    transform: scale(1.1);
}
#texto-tutorial{
    background-color: var(--LightSlateGray);
    font-size: x-large;
    text-align: center;
    border-radius: 20px;
    min-width: 40rem;
    min-height: 5rem;
    padding: 1rem;
}

/*boton de sonido*/
.boton_audio{
    text-align: left;
    margin-left: 3rem;
    margin-top: 1rem;
}
.boton_audio img{
    width: 3rem;
    cursor: pointer;
}


/* begginerHomepage */
.beginnerContent {
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beginnerContent ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;    
    padding: 2rem;
}

.beginnerContent a{
    color: var(--AntiqueWhite);
}

.beginnerContent ul li {
    border-style:initial;
    display: flex;
    justify-content: center;
    padding: 1.2rem;
    margin: 1.2rem;
    background-color: var(--Crimson);    
    font-weight: bold;
    font-size: 2rem;
}