.main_title{
    font-size: 2rem;
}

.weekness_offensive{    
    padding: 7px;
    margin: 10px 0;
    font-weight: bold;
    color: #333;
    margin-left:28rem;
    margin-right:7rem;
    margin-top: -19rem;
}

.cuadrado_naranja{
    background-color: var(--DarkOrange);
    padding:1rem;
}

.weekness_resistance{
        
    border-radius: 5px;
    padding: 7px;
    margin: 2rem 0;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-left:28rem;
    margin-right:7rem;
}

.container {
    border: 2px solid black;
    padding: 1rem;
    width: 15rem;
    margin: auto;
    text-align:left;
    margin-left:4rem;
    margin-top:10rem;
}

h1 {
    text-align: center;    
    font-size: 1.5rem;
}

label {    
    font-size: 1.2rem;
}

p{
    font-size: 1.2rem;
}

#type-select {
    display: block;
    width: 50%;
    font-size: 16px;
    padding: 5px;
    margin-top: 10px;
    margin-left:0rem;
}

.rectangulo_efectividad{
    border-radius: 0.4rem;
    display: inline-block;
    padding: 0.3rem;    
    color: white;
}

.efectivo{
    background-color: var(--BrightGreen);    
}

.no_efectivo{
    background-color: var(--Red);    
}

.nulo{
    background-color: black;    
}

.contenedor_tipos{
    margin-top: 0.2rem;
    margin-bottom: 1rem;    
}

.contenedor_tipos img{
    margin-right: 0.4rem;
}