.weekness_offensive{
    border-radius: 5px;
    padding: 7px;
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-left:28rem;
    margin-right:7rem;
    margin-top: -19rem;
}




.offensive{
    background-color: #FF8C00;
    padding:1rem;
   
}

.weekness_resistance{
    
    
    border-radius: 5px;
    padding: 7px;
    margin: 2rem 0;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-left:28rem;
    margin-right:7rem;
}

.resistance{
    background-color: #FF8C00;
    padding:1rem;
}

.container {
    border: 2px solid black;
    padding: 1rem;
    width: 15rem;
    margin: auto;
    text-align:left;
    margin-left:4rem;
    margin-top:18rem;
}

h1 {
    text-align: center;
    
    font-size: 24px;
}

label {
    
    font-size: 18px;
}

#type-select {
    display: block;
    width: 50%;
    font-size: 16px;
    padding: 5px;
    margin-top: 10px;
    margin-left:0rem;
}

